.intro {
  color: #fff;
  font-family: "Arial";
  background-color: #234567;
  text-align: center;
}

.beginning {
  text-align: center;
}

.middle {
  text-align: center;
}

.end {
  text-align: center;
}
