.intro {
  font-weight: bold;
}
.best {
  width: auto;
  height: 350px;
}

.mission-statement {
  font-weight: bold;
}
h1 {
  font-size: 38px;
  text-align: center;
}
h2 {
  font-size: 28px;
}
.callout {
  color: cyan;
}

.hobbies {

}

.coding {

}
